
.bloque-producto{
    display: flex;
    column-gap: 3rem;
    padding: 1rem;
    align-items: center;
    .producto-imagen{
        width: 20%;
        height: 20%;
    }
    .producto-descripcion{
        h2{
            margin:0;
        }
        p{
            text-align: justify;
        }
    }
    .bloque-precio{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        row-gap: 1rem;
        .precio{
            margin: 0;
        }
        .cantidad{
            background-color: $gris;
            border: none;
            padding: 2rem;
        }
        
    }
    
}
.submit{
    background-color: $rosa;
    border: none;
    padding: 2rem;
    transition: filter .4s ease;
    &:hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
}